name: Real world Docker build and push on s3

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
    python_version: 3.11    

jobs:
    build:
        runs-on: ubuntu-latest
        steps: 
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v4
              with:
                python-version: ${{env.python_version}}
            - name: unit test  
              run: pytest
            - name: build image
              run : docker build -t rimak7/my-portfolio2 .