name: push on s3

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

env:
  PYTHON_VERSION: "3.11"
  AWS_REGION: ${{ secrets.AWS_REGION }}
  S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      -
        - name: Install dependencies
        run: |
         python -m pip install --upgrade pip
         python -m pip install -r requirements.txt
         python -m pip install pytest
      
      # ⬇️ ADD THIS STEP ⬇️
      - name: List files for debugging
        run: ls -R
      # ⬆️ ADD THIS STEP ⬆️
        
      - name: Unit tests
        run: 
          pytest

      - name: Build Docker image
        run: docker build -t rimak7/my-portfolio2 .

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Upload to S3 bucket
        run: |
          echo "Uploading files to S3..."
          aws s3 sync . "s3://ci-cd-for-s3/" --delete
